#contenido {
    /*padding-top: 50px;*/
    /*position: fixed;*/
    background-color: black;
    width: 100%;
    height: 100%;
    background-image: url("http://localhost/MonopolyClient/public_html/recursos/images/fondos/ajustes.jpg"); /*
    background-position-y: 10px;    
*/    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-repeat: cover;
    -moz-background-repeat: cover;
    -o-background-repeat: cover;   
}

#ajustes {
    font-family: esdla;
    font-size: 18px;
}

.titulo {
    font-family: tolkien;
    font-size: 300%;
    text-shadow: 2px 2px whitesmoke;  
    text-align: center;
}

.div-ajustes{
    border: 2px solid #DAA520;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    background-color: #372b2b;
    color: #F5F5F5;
    text-shadow: 1px, 1px, black;
    padding: 10px;
    width: 25%;
}
#div-cambiarUsuario{
    z-index: 100;
    position: absolute;    
    margin-left: 10%;
}

#div-cambiarContrasenia {
    z-index: 100;
    position: absolute;
    margin-left: 60%;
}

#div-otrosAjustes {
    z-index: 100;
    position: absolute;
    margin-top: 20%;
    margin-left: 10%;
}

#div-opiniones {
    z-index: 100;
    position: absolute;
    margin-top: 20%;
    margin-left: 60%;
}

input[name=guardar] {
    border: medium none !important;
    margin-left: 57% !important;
    margin-top: 3% !important;
    width: 150px;
    height: 75px;
    background-image: url(../images/otras/hoja-lorien-verde.png);
    transition: background-image 0.75s;
    -webkit-transition: background-image 0.75s;
}

input[name=guardar]:hover {
    cursor: pointer;
    transition: background-image 0.75s;
    -webkit-transition: background-image 0.75s;
    background-image: url(../images/otras/hoja-lorien-marron.png);
}