@font-face {
    font-family: tolkien;
    src: url(../fuentes/tolkien.ttf);
}
@font-face {
    font-family: esdla;
    src: url(../fuentes/vinertic.ttf);
}
@font-face {
    font-family: anir;
    src: url(../fuentes/anirm.ttf);
}
@font-face {
    font-family: anir;
    src: url(../fuentes/anirb.ttf);
    font-weight:bold;
}

body {
    margin: 0px;
}

#barraUusuarios {
    position:fixed;
    z-index:10;
    /*position: fixed;*/
    background-color: black;
    color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-bottom: 8px;
}

#contenido {
    top: 40px;
    position: absolute;
    width: 100%;
    height: 100%;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.items {

}

.items li {
    list-style: none;
    float: left;
    padding-left: 10px;
}

#container {
    /*padding-top: 50px;*/
    /*position: fixed;*/
    width: 100%;
    height: 100%;
    /*background: url("http://localhost/MonopolyClient/public_html/recursos/images/fondos/fondo1.jpg") no-repeat;*/ 
    /*    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    */

}

.boton {
    background-color: black;
    color: gold;
    border: solid 1px #333;
    border-radius: 5px;
    padding: 12px;
    background: linear-gradient(bottom, #111, #444);
    background: -webkit-linear-gradient(bottom, #111, #444);
    box-shadow: 0px 0px 9px 6px #000;
    text-decoration: none;
    font-size: 1.2em;
}

.boton a {
    text-decoration: none;
    color: gold;
}

.boton:hover {
    background: linear-gradient(top, #111, #444);
    background: -webkit-linear-gradient(top, #111, #444);
}

.ir {
    text-decoration: none;    
    color: white;
}

.ir:visited {
    color: white;
}

.ir:active {
    color: lightgray;
}
.error {
    color: #C0402A;
    font-size: 16px;
}