#opciones {

}

#opciones ul {
    list-style: none;
}

#partidas {
    background: url("http://localhost/MonopolyClient/public_html/recursos/images/fondos/fondo1.jpg") no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px;
    height: 100%;
    color: white;
}


#listaUsuariosConectados ul {
    list-style: none;
}

.usuario {
    width: 150px;
}

.usuario:hover {
    cursor: pointer;
}

.usuario .ui-icon {
    float: left;
}

.nombre_usuario {
    
}
