#registro {
    font-family: esdla;
}
.h1 {
    font-family: tolkien;
}
#contenido {
    background-image: url("http://localhost/MonopolyClient/public_html/recursos/images/fondos/registro1.jpg"); 
}

#registro form {
    border: 2px solid goldenrod;
}
