#contenido {
    background-image: url("../images/fondos/registro1.jpg");
}
#registro {
    font-family: esdla;
    font-size: 18px;
    top: 40px;
}
.h1 {
    font-family: tolkien;
    font-size: 40px;
    text-shadow: 2px 2px whitesmoke;
    margin: 5% 0% 2% 0%;
    text-align: center;
}
#div-form-registro {
    border: 2px solid #DAA520;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    margin: 0% 15%;
    padding: 2% 2% 0% 2%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #F5F5F5;
    text-shadow: 1px 1px black;
    width: 70%;
}
#formRegistro input {
    margin: 0% 0% 4% 2%;
    font-family: esdla;
    padding: 0% 3%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #DAA520;
    font-size: 16px;
    background-color: rgba(246, 241, 221, 0);
    color: whitesmoke;
    text-shadow: 1px 1px black;
}
#formRegistro input:focus {
    outline: none !important;
}
.labelFormRegistro {
    width: 50%;
    margin-bottom: 4%;
}
#labNombre {
    float: left;
}
#labPassword {
    float: right; 
}
#labPassword2 {
    float: right;
}
#labEmail {
    float: left;
}
input[name=usuario] {
    width: 44%;
}
input[name=password] {
    width: 48%;    
}
input[name=password2] {
    width: 46%;        
}
input[name=email] {
    width: 42%;        
}
input[name=enviar] {
    border: medium none !important;
    width: 150px;
    height: 75px;
    background-image: url("../images/botones/botonEnviar.png");
    transition: background-image 0.75s;
    -webkit-transition: background-image 0.75s;
}
input[name=enviar]:hover {
    cursor: pointer;
    transition: background-image 0.75s;
    -webkit-transition: background-image 0.75s;
    background-image: url("../images/botones/botonEnviar-hover.png");
}
#error-registro {
    color: #DAA520;
    text-shadow: 1px 1px black;
}
#span-submit {
    text-align: right;
}
#formRegistro table td {
    width: 1%;
    padding: 2%
}