#contenido{
    background-color: black;
}

#tablero {
    padding-left: 2%;      
}

#tablero table {
    border-collapse: collapse;
}
#tablero table td {
    padding: 0px;
    border: solid 1px;
}

#casilla20, #casilla30 {
    height: 4.5em;
    width: 4.5em;
}

.casilla img{
    height: 100%;
    width: 100%;
    margin-bottom: -5px;
}
.casilla{
    height: 4.5em;
    width: 3.5em;
}

.izquierda{
    /*    -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            rotation: 90deg;*/
}

.derecha {
    /*    -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            rotation: 90deg;*/
}
.casilla.lateral {
    height: 3.5em;
}

#casilla_central {
    height: 32em;
    width: 32em;
}
#casilla_central img{
    height: 100%;
    width: 100%;
    margin-bottom: -5px;
}

#imagenGrande {
    display: none;
    position: absolute;
    height: 4.5em;
    width: 3.5em;
    z-index: 10000;
}
#imagenGrande2 {
    /*display: none;*/
    position: absolute;
    height: 4.5em;
    width: 3.5em;
    z-index: 10000;
}

.ficha {
    width: 38px;
    position: absolute;
    top: 0px;
}
.ficha img {
    width: 100%;
}

#juego {
    float: left;
}
#informacion {
    float: left;
    border: solid 1px white;
    margin-left: 5%;
    margin-top: 5px;
    width: 31%;
    height: 100%;
}
#fichas {}
.ficha {}
.cabecera {}
.nombre {}
.personaje {}
.dinero {}
.tarjetas{}
.color {}
#botones {
    color: white;
}
.button {}
.bote{}